.wave-container {
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #ab47bc, #ff4081);
    position: relative;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100px;
    background: linear-gradient(to bottom, #ffffff00, #ffffff);
    clip-path: polygon(0 15%, 50% 0%, 100% 15%, 100% 100%, 50% 85%, 0% 100%);
}

.center-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
}
